@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html {
  font-size: 12px;
}

body {
  color: #333;
  font-family: "Open Sans", "Droid Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  font-family: "Raleway", "Open Sans", "Droid Sans", sans-serif;
}

:link, :visited, a.js-action {
  color: #08c;
  text-decoration: none;
}

pre.changelog,
table.diff td.line-no,
table.diff td.ss-line-no,
table.diff td.text,
.comment-text,
.bug-activity,
div#edit-description,
div#edit-commit_message {
  font-family: "Roboto Mono", monospace;
}

.watermark-apps-portlet ul.facetmenu {
  margin: 1rem 0 2rem;
  text-align: center;
  font-size: 0;
}

.watermark-apps-portlet ul.facetmenu li {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.watermark-apps-portlet ul.facetmenu li a,
.watermark-apps-portlet ul.facetmenu li span {
  padding: 0.5rem 1.5rem;
  margin: 0;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.04));
  border: 1px solid rgba(0,0,0,0.2);
  border-left: none;
}

.watermark-apps-portlet ul.facetmenu li a:hover,
.watermark-apps-portlet ul.facetmenu li span:hover {
  background-color: inherit;
}

.watermark-apps-portlet ul.facetmenu li.active span,
.watermark-apps-portlet ul.facetmenu li a:active {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.3);
  font-weight: normal;
  color: inherit;
}

.watermark-apps-portlet ul.facetmenu li:first-child a,
.watermark-apps-portlet ul.facetmenu li:first-child span {
  border-left: 1px solid #aaa;
  border-bottom-left-radius: 0.208333rem;
  border-top-left-radius: 0.208333rem;
}

.watermark-apps-portlet ul.facetmenu li:last-child a,
.watermark-apps-portlet ul.facetmenu li:last-child span {
  border-bottom-right-radius: 0.208333rem;
  border-top-right-radius: 0.208333rem;
}
